@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar adjustments for a clean SOC dashboard feel */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #020617;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 2px;
}